<%- include('../partials/head'); %>
    <div class="container">
        <h1>Home</h1>
        <div class="row">
            <div class="col">
                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, iure? Inventore laudantium iure repellat odio placeat eum! Veniam eius optio veritatis nulla nemo, exercitationem, voluptatem quidem omnis impedit, architecto minus.</h5>
            </div>
        </div>
    </div>
<%- include('../partials/footer'); %>